{% extends "base.html" %}

{% block content %}

<style>
.editbtn,.deletebtn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  background: #e2e8f0;
  color: #0f172a;
  transition: .2s;
}

.editbtn:hover,.deletebtn:hover {
  background: #cbd5e1;
}

</style>

<h2>Owner Dashboard</h2>

<a href="{% url 'pg_create' %}" class="btn">Add New PG</a>

<hr>

{% for pg in pgs %}
  <div class="card" style="margin:15px 0;">
    <h3>{{ pg.name }}</h3>
    <p>{{ pg.city }} — ₹{{ pg.monthly_rent }}</p>

    <a href="{% url 'pg_edit' pg.id %}" class="editbtn">Edit</a> |
    <a href="{% url 'pg_delete' pg.id %}" class="deletebtn">Delete</a>
  </div>
{% empty %}
  <p>No PGs created yet.</p>
{% endfor %}

{% endblock %}
