{% extends "base.html" %}

{% block content %}

<div class="card">

<h1>{{ pg.name }}</h1>

<p>{{ pg.description }}</p>

<p><b>City:</b> {{ pg.city }}</p>
<p><b>Area:</b> {{ pg.area }}</p>
<p><b>Address:</b> {{ pg.address }}</p>
<p><b>Rent:</b> ₹ {{ pg.monthly_rent }}</p>

<p>⭐ {{ pg.average_rating }}</p>

{% if user.is_authenticated %}
    <a href="{% url 'review_add' pg.id %}" class="btn">
        Add Review
    </a>
{% endif %}

</div>

<h2>Reviews</h2>

{% for r in reviews %}
<div class="card" style="margin-top:10px;">
    <b>{{ r.user.username }}</b> ⭐ {{ r.rating }}
    <p>{{ r.comment }}</p>
</div>
{% empty %}
<p>No reviews yet.</p>
{% endfor %}

{% endblock %}
