{% extends "base.html" %}

{% block content %}

<h1>PG & Hotel Listings</h1>

{% for pg in pgs %}
    <div class="card" style="margin-bottom:15px;">
        {% if pg.image %}
        <img src="{{ pg.image.url }}" style="width:100%;max-height:200px;object-fit:cover;border-radius:8px;">
        {% endif %}

        <h2>{{ pg.name }}</h2>
        <p>{{ pg.city }} — {{ pg.area }}</p>
        <p>₹ {{ pg.monthly_rent }}</p>
        <p>⭐ {{ pg.average_rating }}</p>

        <a href="{% url 'pg_detail' pg.id %}" class="btn">
            View Details
        </a>
    </div>
{% empty %}
    <p>No PGs listed yet.</p>
{% endfor %}

{% endblock %}
